.prodContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.checkout {
  display: flex;
  flex-direction: row;
  float: right;
  align-items:baseline;
}
#cartItems {
  font-size: 20px;
}
.checkoutBtn {
  background: #a7b2ba;
  background-image: -webkit-linear-gradient(top, #a7b2ba, #737373);
  background-image: -moz-linear-gradient(top, #a7b2ba, #737373);
  background-image: -ms-linear-gradient(top, #a7b2ba, #737373);
  background-image: -o-linear-gradient(top, #a7b2ba, #737373);
  background-image: linear-gradient(to bottom, #a7b2ba, #737373);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.checkoutBtn:hover {
  background: #9cd9ff;
  background-image: -webkit-linear-gradient(top, #9cd9ff, #6195ad);
  background-image: -moz-linear-gradient(top, #9cd9ff, #6195ad);
  background-image: -ms-linear-gradient(top, #9cd9ff, #6195ad);
  background-image: -o-linear-gradient(top, #9cd9ff, #6195ad);
  background-image: linear-gradient(to bottom, #9cd9ff, #6195ad);
  text-decoration: none;
}

.checkoutBtn a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 24px;
  color: #ffffff;
}

.prodBtn {
  background: #a7b2ba;
  background-image: -webkit-linear-gradient(top, #a7b2ba, #737373);
  background-image: -moz-linear-gradient(top, #a7b2ba, #737373);
  background-image: -ms-linear-gradient(top, #a7b2ba, #737373);
  background-image: -o-linear-gradient(top, #a7b2ba, #737373);
  background-image: linear-gradient(to bottom, #a7b2ba, #737373);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.prodBtn:hover {
  background: #9cd9ff;
  background-image: -webkit-linear-gradient(top, #9cd9ff, #6195ad);
  background-image: -moz-linear-gradient(top, #9cd9ff, #6195ad);
  background-image: -ms-linear-gradient(top, #9cd9ff, #6195ad);
  background-image: -o-linear-gradient(top, #9cd9ff, #6195ad);
  background-image: linear-gradient(to bottom, #9cd9ff, #6195ad);
  text-decoration: none;
}

.prodImg {
  padding-right: 30px;
  margin-top: 20px;
 }

body {
  display:flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display:flex;
  flex:1;
}

main {
  flex:3;
  order:2;
  border-left-style: solid;
  border-top-style: solid;
}

nav, aside {
  flex: 0 0 12em;
}

nav {
  order:1;
  flex:1;
}

aside {
  order: 3;
  flex: 1;
  border-top-style: solid;
}

ul {
  list-style-type: none;
  font-size: 24px;
}

li {
  opacity: 0.50;
  transition: opacity .75s ease-in-out;
}

li:hover {
  opacity: 1;
  background-color: #c2c2d6;
}

li a {
  text-decoration: none;
  color: black;

}

table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 40px;
  margin-left: 40px;
}

th {
  padding: 5px 10px;
  border: 1px solid black;
}

td {
  padding: 5px 30px;
  border: 1px solid black;
}

tr:nth-child(odd) {
  background: #eee;
}
